* {
  box-sizing: border-box; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #8a5928;
  background-image: url("https://github.com/Diplodocee/NewsSite/blob/gh-pages/images/Grand%20Canyon%20Background.jpg?raw=true");
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.heading {
  background-color: #999;
  background-image: url("http://static.brusheezy.com/system/resources/previews/000/036/937/original/12-seamless-flat-rock-textures-photoshop-patterns.jpg");
  background-position: center;
}

h1 small {
  color: #333;
  font-size: .6em;
}


.box {
  background-color: #eee6dd;
  border-style: solid;
  border-width: 10px;
  border-color: #eee6dd;
}

.box:hover {
  border-style: dashed;
  border-width: 3px;
  border-color: #eee6dd;
  background-color: #999
}

.box a.read-more {
  text-decoration: underline;
}

.filler {
  background-color: #999;
  background-image: url("http://static.brusheezy.com/system/resources/previews/000/036/937/original/12-seamless-flat-rock-textures-photoshop-patterns.jpg");
}

.footer {
  border-style: solid;
  border-color: #999;
  background-color: #eee6dd;
  font-style: italic;
}
